@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Digimon Stats</h1>
    <p class="lead">Consulta y compara atributos de digimon cyber sleuth.</p>
</div>

<div class="row">
    <h3>Buscar Digimon por nombre</h3>
    @using (Html.BeginForm("Find", "Digimon"))
    {
        <div class="form-group">
            @Html.Label("Nombre")
            <input type="text" name="name"><br>
        </div>

        <button type="submit" class="btn btn-primary">Buscar</button>
    }

</div>